<div id="brand">
</div>

<div class="battle">
  <div class="battle-screen">
    <div class="login-icon">
      <h4>Welcome to <small>Hashtag Battle</small></h4>
    </div>

    <div class="battle-form">
      <div class="form-group">
        <%= form_for Battle.new, remote: true do |f| %>
          <%= f.text_field :name, placeholder: "Name of the battle", :class => "form-control login-field", :id => "login-name" %>
        <label for="login-name" class="login-field-icon fui-new"></label>
      </div>

      <div class="form-group">
        <%= f.text_field :hashtags, :placeholder => "pepsi,coke", :value => "", :class => "tagsinput login-field" %>
        <label for="login-pass" class="login-field-icon fui-search"></label>
      </div>

      <%= f.submit 'Battle!', :class => 'btn btn-primary btn-lg btn-block battle-submit' %>
    <% end %>

    </div>
  </div>
</div>
